:root {
  --header-nav: #212121;
  --header-nav-hover: #2196f3;
  --contact-: #757575;
  --contact-hover: #2196f3;
  --heading-color: #212121;
  --heading-color-hero: #ffffff;
  --paragraph-color: #757575;
  --logo-basic: #2196f3;
  --logo-header: #212121;
  --logo-footer: #ffffff;
  --background-hero: #2f303a;
  --contact-footer: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --portfolio-button: #f5f4fa;
  --portfolio-button-hover: #2196f3;
  --background-team: #f5f4fa;
  --background-footer: #2f303a;
  --color-social-link: #afb1b8;
  --fill-social-footer: #ffffff;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

button {
  padding: 0;
}

.header {
  background-color: var(--logo-footer);
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header-nav__list .header-nav__item + .header-nav__item {
  margin-left: 50px;
}

.header-contact {
  margin-left: 331px;
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: flex;
}

.header-nav__item--current {
  position: relative;
  color: var(--header-nav-hover);
}

.header-nav__item {
  position: relative;
}

.header-nav__link--current {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-nav__link--current::after {
  position: absolute;
  bottom: -1px;
  content: '';
  background: var(--accent-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  display: block;
}

.header-nav__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: var(--header-nav);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-nav__link:hover, .header-nav__link:focus {
  color: var(--accent-color);
}

.header-contact__list {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.header-contact__item {
  fill: #757575;
  margin-right: 30px;
}

.header-contact__item:last-child {
  margin-right: 0px;
}

.header-contact__item:hover, .header-contact__item:focus {
  fill: var(--accent-color);
}

.header-contact__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
  padding-top: 32px;
  color: var(--contact-);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-contact__link:hover, .header-contact__link:focus {
  fill: var(--accent-color);
  color: var(--contact-hover);
}

.header-contact__icon-email {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.header-contact__icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.header__burger-btn {
  right: 15px;
  top: 10px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: 0;
}

.header__icon-burger {
  width: 40px;
  height: 40px;
}

.header-menu__backdrop.is-open {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.header-menu__backdrop {
  position: fixed;
  z-index: 9;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  background-color: var(--logo-footer);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-menu__modal {
  position: relative;
  padding: 48px 40px;
}

.header-menu__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-menu__close {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
  line-height: 0;
}

.header-menu__close:focus, .header-menu__close:hover {
  fill: var(--accent-color);
}

.header-menu__close-icon {
  width: 40px;
  height: 40px;
}

.menu-nav__list {
  position: absolute;
  top: 48px;
  left: 40px;
}

.menu-nav__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.menu-nav__item:last-child {
  margin-bottom: 0;
}

.menu-contact__item {
  margin-bottom: 32px;
}

.menu-contact__item:last-child {
  margin-bottom: 0px;
}

.menu-nav__link {
  color: var(--header-nav);
}

.menu-nav__link:focus, .menu-nav__link:hover {
  color: var(--accent-color);
}

.menu-feedback {
  left: 40px;
  position: absolute;
  bottom: 0;
}

.menu-contact__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-);
}

.menu-contact__link:hover, .menu-contact__link:focus {
  color: var(--accent-color);
}

.menu-social-link {
  margin-bottom: 48px;
  margin-top: 64px;
  display: flex;
  flex-direction: row;
}

.menu-social-link__item {
  margin-right: 10px;
}

.menu-social-link__item:last-child {
  margin-right: 0px;
}

.menu-social-link__item::after {
  margin-left: 10px;
  content: '';
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.menu-social-link__link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }
  .header-nav__list {
    display: none;
  }
  .header-contact__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__burger-btn {
    display: none;
  }
  .header-menu__backdrop {
    display: none;
  }
  .header-menu__backdrop .is-open {
    display: none;
  }
}

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-color: var(--background-hero);
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.hero-heading {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  color: var(--heading-color-hero);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .hero-heading {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
  }
  .hero-container {
    max-width: 480px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media all, screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero-background.jpg);
  }
}

@media not all, (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero-phone.jpg);
  }
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  transition: visibility 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop-icon {
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-icon:focus, .backdrop-icon:hover {
  fill: var(--accent-color);
}

.modal {
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  min-width: 528px;
  min-height: 581px;
  background: var(--fill-social-footer);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.heading-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--logo-header);
}

.modal-form {
  padding: 40px;
}

.form-modal-input {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.input-container-modal {
  display: flex;
  flex-direction: column;
}

.heading-modal-form {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--paragraph-color);
}

.form-icon-position {
  position: relative;
  margin-bottom: 10px;
}

.input-modal-form {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.input-modal-form:focus-within {
  border-color: var(--accent-color);
}

.icon-input-modal {
  position: absolute;
  left: 15px;
  top: 50%;
  display: inline-block;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal-form:focus + .icon-input-modal {
  fill: var(--accent-color);
}

.contract-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--paragraph-color);
}

.heading-modal-contract {
  font-size: 14px;
  line-height: 1.71;
  color: var(--paragraph-color);
}

.link-contract-modal {
  margin-left: 5px;
  color: var(--accent-color);
}

.comment-modal-form {
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 12px;
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.comment-modal-form:focus-within {
  border-color: var(--accent-color);
}

.comment-modal-form::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.icon-checkbox-modal {
  background-size: cover;
  background-position: 50% 50%;
  display: inline-block;
  border: 2px solid var(--header-nav);
  border-radius: 2px;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-origin: border-box;
}

.modal-checkbox:checked + .icon-checkbox-modal {
  background-image: url(../images/check.svg);
  background-color: var(--accent-color);
  border-radius: 2px;
  border-color: transparent;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-size: cover;
  background-position: 50% 50%;
}

.features-list {
  display: flex;
  justify-content: center;
}

.features-block {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.item-block {
  margin-bottom: 30px;
  margin-right: 30px;
}

.item-block:last-child {
  margin-right: 0px;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.features-heading {
  margin-bottom: 10px;
  color: var(--heading-color);
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
}

.features-paragraph {
  width: 270px;
  color: var(--paragraph-color);
  line-height: 1.71;
}

.features .item {
  margin-right: 30px;
}

.features .item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .features .item {
    margin-right: 0;
  }
  .features .item:last-child {
    margin-right: 0;
  }
  .features-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .features .item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .features .item:last-child {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .features-block {
    width: 100%;
  }
  .features-heading {
    text-align: center;
  }
}

.work {
  padding-top: 0px;
}

.work-list {
  display: flex;
}

.work-block {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.work-heading {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work-block-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--heading-color-hero);
  text-transform: uppercase;
}

.work .item {
  position: relative;
}

.work .item + .item {
  margin-left: 30px;
}

.team {
  background-color: var(--background-team);
}

.team-list {
  display: flex;
}

.team-block {
  padding: 30px 0;
}

.team-item {
  width: 270px;
  margin-left: 30px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:first-child {
  margin-left: 0;
}

.team-heading {
  margin-bottom: 50px;
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--heading-color);
}

.team-name {
  margin-bottom: 10px;
  color: var(--heading-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-paragraph {
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 1.18;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.social-item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.social-item:last-child {
  margin-right: 0px;
}

.reg-customer-heading {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.list-customer {
  display: flex;
}

.reg_customer_item {
  margin-right: 30px;
  width: 170px;
  height: 92px;
}

.reg_customer_item:last-child {
  margin-right: 0px;
}

.reg-customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reg-customer-link:hover, .reg-customer-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.reg_customer_icon {
  width: 106px;
  height: 60px;
}

.footer {
  background-color: var(--background-footer);
  padding: 60px 0px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.contact-footer {
  color: var(--contact-footer);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer:hover, .contact-footer:focus {
  color: var(--accent-color);
}

.footer-address {
  flex-grow: 1;
  margin-right: 70px;
}

.footer-address-link {
  color: var(--background-team);
}

.social-footer {
  margin-right: 93px;
}

.contact-footer .item + .item {
  margin-top: 9px;
}

.social-list-footer {
  display: flex;
}

.social-footer-item {
  margin-right: 10px;
}

.social-footer-item:last-child {
  margin-right: 0;
}

.social-heading {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: calc(16 / 14);
  color: var(--heading-color-hero);
  text-transform: uppercase;
}

.footer-email-input {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.input-email-footer {
  padding-left: 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background: var(--background-footer);
}

.input-email-footer::placeholder {
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-email-submit {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--logo-footer);
}

.footer-icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.button-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.item-button {
  margin-left: 8px;
}

.item-button:first-child {
  margin-left: 0px;
}

.portfolio-button {
  display: block;
  padding: 6px 20px;
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--portfolio-button);
  color: var(--heading-color);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover, .portfolio-button:focus {
  background-color: var(--portfolio-button-hover);
  color: var(--portfolio-button);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-heading {
  margin-bottom: 4px;
  color: var(--heading-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.87;
  color: var(--paragraph-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-block {
  padding: 24px 20px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-block-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-block-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 64px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-block-text,
.portfolio-link:focus .portfolio-block-text {
  transform: translateY(0);
}

.portfolio-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header__logo {
  margin-right: 93px;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-basic);
  padding: 16px 0;
}

.header__logo .header-logo__item {
  color: var(--logo-header);
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-basic);
}

.logo-footer .footer-logo {
  color: var(--logo-footer);
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin-right: 0;
    font-size: 24px;
    line-height: 1.16;
  }
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  border-color: transparent;
  color: var(--heading-color-hero);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background: #188ce8;
  border-color: transparent;
  color: var(--heading-color-hero);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.social-link:hover, .social-link:focus {
  background: var(--accent-color);
  fill: var(--logo-footer);
}

.social-svg-footer {
  width: 20px;
  height: 20px;
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #ffffff1a;
  fill: var(--fill-social-footer);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover, .social-link-footer:focus {
  background: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */