.header {
  background-color: var(--logo-footer);
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}

.header-nav__list .header-nav__item + .header-nav__item {
  margin-left: 50px;
}
.header-contact {
  margin-left: 331px;
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header-nav__list {
  display: flex;
}

.header-nav__item--current {
  position: relative;
  color: var(--header-nav-hover);
}
.header-nav__item {
  position: relative;
}
.header-nav__link--current {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  &::after {
    position: absolute;
    bottom: -1px;
    content: '';
    background: var(--accent-color);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    display: block;
  }
}
.header-nav__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: var(--header-nav);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contact__list {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.header-contact__item {
  fill: #757575;
  margin-right: 30px;

  &:last-child {
    margin-right: 0px;
  }

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.header-contact__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
  padding-top: 32px;
  color: var(--contact-);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  &:hover,
  &:focus {
    fill: var(--accent-color);
    color: var(--contact-hover);
  }
}
.header-contact__icon-email {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.header-contact__icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.header__burger-btn {
  right: 15px;
  top: 10px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: 0;
}
.header__icon-burger {
  width: 40px;
  height: 40px;
}
.header-menu__backdrop.is-open {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.header-menu__backdrop {
  position: fixed;
  z-index: 9;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  background-color: var(--logo-footer);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header-menu__modal {
  position: relative;
  padding: 48px 40px;
}
.header-menu__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-menu__close {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
  line-height: 0;
  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}
.header-menu__close-icon {
  width: 40px;
  height: 40px;
}
.menu-nav__list {
  position: absolute;
  top: 48px;
  left: 40px;
}
.menu-nav__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}
.menu-contact__item {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0px;
  }
}
.menu-nav__link {
  color: var(--header-nav);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}
.menu-feedback {
  left: 40px;
  position: absolute;
  bottom: 0;
}
.menu-contact__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.menu-social-link {
  margin-bottom: 48px;
  margin-top: 64px;
  display: flex;
  flex-direction: row;
}
.menu-social-link__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0px;
  }
  &::after {
    margin-left: 10px;
    content: '';
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}
.menu-social-link__link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .header-nav__list {
    display: none;
  }
  .header-contact__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__burger-btn {
    display: none;
  }
  .header-menu__backdrop {
    display: none;
  }
  .header-menu__backdrop .is-open {
    display: none;
  }
}
