.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-color: var(--background-hero);
  letter-spacing: 0.06em;
  margin: 0 auto;
  width: 100%;
}

.hero-heading {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  color: var(--heading-color-hero);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .hero-heading {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 360px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
  }
  .hero-container {
    max-width: 480px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media all,
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/hero-background.jpg);
  }
}
@media not all, (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/hero-phone.jpg);
  }
}
