.hero {
  // background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-color: var(--background-hero);
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/hero-phone.jpg);
  background-size: 480px auto;
}

.hero-heading {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  // width: 696px;
  color: var(--heading-color-hero);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .hero {
    height: 400px;
  }
  .hero-heading {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
  }
  .hero-container {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (max-width: 480px) {
  .hero-heading {
    margin: 0 auto 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.32;
    letter-spacing: 0.03em;
    min-width: 0;
  }
}
@media all,
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-background.jpg);
  }
}

@media screen,
  (min-resolution: 192dpi),
  (min-resolution: 2dppx),
  (min-device-pixel-ratio: 2),
  (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-phone2x.jpg);
    max-width: 480px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-phone.jpg);
    max-width: 480px;
  }
}
