.team {
  background-color: var(--background-team);
}
.team-list {
  display: flex;
}
.team-block {
  padding: 30px 0;
}
.team-item {
  width: 270px;
  margin-left: 30px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:first-child {
    margin-left: 0;
  }
}
.team-heading {
  margin-bottom: 50px;
  margin-top: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--heading-color);
}
.team-name {
  margin-bottom: 10px;

  color: var(--heading-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-paragraph {
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 1.18;
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.social-item {
  margin-right: 10px;
  width: 44px;
  height: 44px;

  &:last-child {
    margin-right: 0px;
  }
}
