:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-title-color: #ffffff;
  --primary-accent-color: #18a0fb;
  --secondary-accent-color: #2196f3;
  --primary_bg_color: #2f303a;
  --secondary-bg-color: #ffffff;
  --third-bg-color: #f5f4fa;
}

