.header__logo {
  margin-right: 93px;

  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-basic);
}
.header__logo .header-logo__item {
  color: var(--logo-header);
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-basic);
}

.logo-footer .footer-logo {
  color: var(--logo-footer);
}
