.footer-contacts_list {
  @media screen and (max-width: 479px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 480px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    width: 231px;
    height: 81px;
    margin-bottom: 0;
  }
}
.address-link {
  display: block;
  @include font(14px, 400, 1.71, 0.03em);
  font-style: normal;
  color: var(--primary-title-color);
  margin-bottom: 9px;
}
.footer-mail,
.footer-tel {
  display: block;
  margin-bottom: 9px;
  @include font(14px, 400, 1.71, 0.03em);
  color: rgba(255, 255, 255, 0.6);
}
