:root {
  --header-nav: #212121;
  --header-nav-hover: #2196f3;
  --contact-: #757575;
  --contact-hover: #2196f3;
  --heading-color: #212121;
  --heading-color-hero: #ffffff;
  --paragraph-color: #757575;
  --logo-basic: #2196f3;
  --logo-header: #212121;
  --logo-footer: #ffffff;
  --background-hero: #2f303a;
  --contact-footer: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --portfolio-button: #f5f4fa;
  --portfolio-button-hover: #2196f3;
  --background-team: #f5f4fa;
  --background-footer: #2f303a;
  --color-social-link: #afb1b8;
  --fill-social-footer: #ffffff;
}
