:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --nav-link-color: #000000;
  --footer-background-color: #2f303a;
  --btn-hover-color: #188ce8;
  --adress-link-color: rgba(255, 255, 255, 0.6);
  --aboutus-background-color: #f5f4fa;
  --alt-background-color: #c4c4c4;
  --overlay-hero-bg-color: rgba(47, 48, 58, 0.4);
  --main-icon-color: #afb1b8;
  --header-border: #ececec;
  --button-shadow: rgba(0, 0, 0, 0.15);
  --overlay-whatwedo-bg: rgba(47, 48, 58, 0.8);
  --footer-link-bg: rgba(255, 255, 255, 0.1);
  --modal-btn-shadow: rgba(0, 0, 0, 0.25);
  --border-example: #eeeeee;
  --overlay-prtf-bg: rgba(33, 150, 243, 0.9);
  --modal-bg-color: rgba(0, 0, 0, 0.2);
  --border-close-btn: rgba(0, 0, 0, 0.1);
}
